# /etc/cron.d/PLUGINNAME: plugin crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.
#
# Documentation: 
# https://www.loxwiki.eu/pages/viewpage.action?pageId=23462653#Pluginf%C3%BCrdenLoxberryentwickeln(abVersion1.x)-Unterverzeichnis:cronYellowOptional
#

MAILTO=""
SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# m h dom mon dow user  command
# Timelapse: prueft minuetlich, ob die konfigurierte Uhrzeit erreicht ist
# (beendet sich sofort, wenn Timelapse deaktiviert ist)
* * * * * loxberry cd REPLACELBHOMEDIR/webfrontend/html/plugins/REPLACELBPPLUGINDIR && /usr/bin/php timelapse.php >/dev/null 2>&1
# Archiv-Bereinigung: loescht taeglich alte/ueberzaehlige Archivdateien
# (beendet sich sofort, wenn keine Begrenzung konfiguriert ist)
35 3 * * * loxberry cd REPLACELBHOMEDIR/webfrontend/html/plugins/REPLACELBPPLUGINDIR && /usr/bin/php cleanup.php >/dev/null 2>&1
